/*-------FONTE---------*/
body {
  background-color: #fdfdda37;
}

h1 {
  font-family: serif Static;
  font-weight: 1000;
  font-style: italic;
  color: #ffdab9;
}

h2 {
  font-family: Garamond static;
  font-weight: 200;
  font-style: normal;
}

/*--------Burger menu - line ---------*/
.menu-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-size: 0.8rem;
}

.logo img {
  height: 50px;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.burger-menu .line {
  width: 24px;
  height: 3px;
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px; /* size of menu */
  right: 0; /* position of drop down */
  padding: 10px;
  z-index: 100; /* bring to front */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
}

.dropdown-content nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: black;
  color: white; /* Change text color on hover for better contrast */
}

.show {
  display: block;
}
/*----------burger menu slut--------*/
.knap {
  display: inline-block;
  padding: 10px 20px; /* Juster padding efter behov for størrelse */
  background-color: #ffdab9;
  color: #ffffff;
  text-decoration: none; /* Fjern understregning fra linket */
  border: 10px solid #ffdab9; /* Tilføj en rød kant med 2px tykkelse */
  border-radius: 5px; /* Runde kanter */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Glat farveovergang */
}

/*  FOOTER  */

#footer {
  overflow: hidden;
  white-space: nowrap;
}

.footer-content {
  display: inline-block;
  white-space: nowrap;
  animation: footer 20s linear infinite;
}

.footer-text {
  display: inline-block;
}

@keyframes footer {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*  FOOTER SLUT  */
